<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div id = home>
    <div class="center jumbotron">
      <h1 class= "title">Welcome to Clatter</h1>
    
      <h2 class = "synopsis">
        This is a practice application made by Abdul Shahid
      </h2>
    
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Log in", login_path, class: "btn btn-lg btn-info" %>
  
    </div>
  <%end%>
</div>