 <li>
     <%= gravatr_for user %>
      <h2 class = 'text-left'><%= link_to user.name, user, :style => 'color: #000000'%>
      <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "Delete", user, method: :delete, 
                                     :style => 'color: #000000', 
                                    data: { confirm: "You sure?" } %>
      <% end %>
       </h2>
    </li>