<footer class="footer">
  <p class="text-center">&#169; Abdul Shahid</p>
  <nav>
    <ul class = "text-left">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>