<!DOCTYPE html>
<html>
<head>
  <% if current_page?(root_path) %>
    <title><%= yield(:title) %> Clatter</title>
 <%else%>
    <title><%= yield(:title) %> | Clatter</title>
  <%end%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <%= render 'layouts/shim.html.erb' %> 
</head>
<body>
  <%= render 'layouts/header.html.erb' %>
  <div class = "container">
   <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
    <%= render 'layouts/footer.html.erb' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
